.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1; //since its hidden and for all the hidden contents to appear on top
    opacity: .15;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover; //the videowas flowing beyong the page size, so this is used to fix it
    }

}